@using Shared.Helpers
@{
    ViewData["Title"] = "Registration Success";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Registration has been completed successfully</h3>
            </div>

            <div class="panel-body">
                Follow this <a asp-controller="Account" asp-action="Login">link</a> to login in EasyCard;
            </div>
        </div>
    </div>

</div>