@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EasyCard</h1>
    <p>
        <a asp-action="Login" asp-controller="Account" class="btn btn-primary" name="button" value="login">Login</a>
    </p>
</div>
