
@{
    ViewData["Title"] = "Manage Account";
}

<div class="text-center pb-4">
    <h3 class="font-weight-light">Manage Account</h3>
</div>

<div>
    <div class="list-group">
        <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item list-group-item-action">Change Password</a>
    </div>
</div>

