@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = localizer.Get("PrivacyPolicy");
}
<h1>@ViewData["Title"]</h1>

<ol>
    <li>
        The site respects the privacy of our customers.
    </li>
    <li>
        In addition to the information that you provide when you register for the site, the site collects certain information about your computer, through which you visit and perform operations on the site.
        The information is collected automatically (including through the use of "cookies") and may include IP addresses, browser type, browsing and login times, how you browse and the tool you use for browsing purposes, details about your ISP and the URLs of the websites you came from (the information provided when the registration and the information collected by the site as stated in this paragraph shall be referred to together as "the information collected on the site").


        The information collected on the site may be used by the site for the following purposes:

        <ul>
            <li>
                Provide you with services and improve the site and / or the services
            </li>
            <li>
                The proper operation of the site
            </li>
            <li>
                Analyze and manage the site properly
            </li>
            <li>
                Improving the customer service of the site
            </li>
            <li>
                To contact or provide you with data regarding the Site or the Service
            </li>
            <li>
                To provide you with the information you have requested or additional information which the Website believes may be of interest to you, from time to time
            </li>
            <li>
                To tailor advertisements and commercial information according to your personal preferences
            </li>
            <li>
                To contact you by the site's representatives regarding the products that the site provides
            </li>
            <li>
                To conduct customer surveys and / or marketing research which the site conducts from time to time.
            </li>
        </ul>
    </li>
    <li>
        The site and / or anyone on its behalf will not disclose and / or sell any information collected on the site to any third party, except for those on their behalf they provide the information collected on the site solely for the purpose of providing service and completing a purchase procedure performed on the site, which are also fully obligated to the confidentiality of information collected on the site.
    </li>
    <li>
        However, the site and / or anyone on its behalf will be entitled to transfer information collected on the site to third parties (except sensitive information such as credit information, ID numbers, etc.) in any of the following cases:
        Your prior written consent has been given
        <ul>
            <li>
                The website and / or anyone on its behalf are required by law to transmit the said information, for example, by virtue of a court order.
            </li>
            <li>
                In order to protect the legal and proprietary rights of the site and / or anyone on its behalf with regard to this site.
            </li>
            <li>
                In the event of a legal dispute between you and the site which will require the disclosure of the details.
            </li>
            <li>
                If you violate the Terms and Conditions of the Site or if you perform through the Site, or in any connection with the Site, any acts that are contrary to or presumed to be unlawful, or any attempt to perform such acts.
            </li>
            <li>
                In the event that the Website deems that the provision of the information collected is necessary in order to prevent serious damage to the user's body or property or to the body or property of a third party;
            </li>
            <li>
                Sharing social networks such as Facebook, Instagram and others and other network advertisers such as Google, Tabula and others.
            </li>
            <li>
                It is also possible that the site transmits to third parties only general statistical information, not personal or private, regarding the use of the site, such as the total number of visitors to this site and each page of the site as well as the domain names of site visitors' web service providers.
            </li>
            <li>
                If the site is merged into another body activity or if the site becomes the property of another corporation, it will be possible to transfer to the new corporation the existing information on the site, but only in case the corporation undertakes to maintain this privacy policy.
            </li>
        </ul>
    </li>

</ol>

It is important to remember that 100% protection from hostile and determined activity by foreign parties cannot be guaranteed and therefore there is no absolute security in these actions and the site does not guarantee that the services on the site will be completely immune from unauthorized access to information collected therein.