@model ErrorViewModel
@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = localizer.Get("Error");
}

<h1 class="text-danger">@localizer.Get("Error")</h1>
<h2 class="text-danger">@localizer.Get("ErrorGeneral")</h2>

@if (Model?.ShowRequestId == true)
{
    <p>
        <strong>@localizer.Get("RequestID"):</strong> <code>@Model.RequestId</code>
    </p>
}

