@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h4 class="text-danger">An error occurred while processing your request.</h4>
<h2 class="text-danger">@Model.ExceptionMessage</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
