@inject CommonLocalizationService localizer

<div class="container">
    <div class="page-header">
        <h1>@localizer.Get("AccessDenied")</h1>
    </div>

    <p>@localizer.Get("YouDontHaveAccessToThatResource")</p>
</div>