@model ForgotPasswordViewModel

<div>


    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="panel panel-default panel-ecng">
                <div class="panel-heading text-center">
                    <h5 class="panel-title">Please enter the email you used during the registration</h5>
                    <p class="pt-1">
                        <small>Link with instructions will be sent to that email.</small>
                    </p>
                </div>
                <div class="panel-body">
                    <form asp-route="ForgotPassword">
                        <fieldset>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" asp-for="Email" autocomplete="email">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group text-end">
                                <button class="btn btn-primary" name="button" value="confirm">Confirm</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

