@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p>@localizer.Get("AccountLockedOutMessage")</p>
</header>
