@model LogoutViewModel
@{ 
    ViewData["Message"] = "Logout";
}
<div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5 class="panel-title">@ViewData["Message"]</h5>
            </div>
            <div class="panel-body">
                <p>Would you like to logout of IdentityServer?</p>
                <form asp-action="Logout">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                    <fieldset>
                        <div class="form-group text-end">
                            <a asp-action="Login" class="btn btn-outline-dark">Cancel</a>
                            <button class="btn btn-primary">Yes</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>