@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = localizer.Get("ResetPasswordConfimration");
}

<div class="text-center">
    <h5>@ViewData["Title"]</h5>
    <p>
        @localizer.Get("YouPasswordHasBeenReset")
    </p>
    <p>
        <a asp-action="Login">@localizer.Get("ClickHereToLogIn")</a>
    </p>

</div>