
$primary : var(--v-primary-base);
$secondary : var(--v-secondary-base);

.border-secondary{
  border-color: $secondary !important;
}
.border-primary{
  border-color: $primary !important;
}
.theme--light.v-stepper{
  background: inherit;
  border: none;
  box-shadow: none;
}
.ec-toolbar .v-toolbar__content{
  padding-left: 0;
  padding-right: 5px;
}
.v-stepper{
  background: inherit;
  border: none;
}
.no-borders{
  border: none !important;
}
.input-simple.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot{
    border: none !important;
    box-shadow: none;
}
.ec-stepper{
  .v-stepper__wrapper{
    height: 100%;
  }
  .v-stepper__content{
    // min-height: calc(100vh - 57px);
  }
}
.theme--light.v-card.ec-card {
  background-color: inherit;
  border: none !important;
  box-shadow: none;
}
.ecng-toast{
  font-family: Roboto, sans-serif;
  .action{
    font-size: 1.75rem !important;
    color: inherit !important;
  }
}
.text-initial{
  text-align: initial;
}