@{
    ViewData["Title"] = "Bit Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BitPaymentViewModel

<form asp-action="BitPaymentCompleted" method="get" hidden id="form">
    <input type="hidden" asp-for="PaymentTransactionID" id="PaymentTransactionID" />
    <input type="hidden" asp-for="TransactionSerialId" id="TransactionSerialId" />
    <input type="hidden" asp-for="PaymentInitiationId" id="PaymentInitiationId" />
    <input type="hidden" asp-for="RedirectUrl" id="RedirectUrl" />
    <input type="hidden" asp-for="PaymentIntent" id="PaymentIntent" />
    <input type="hidden" asp-for="PaymentRequest" id="PaymentRequest" />
</form>

<div class="row justify-content-center">
    <div class="col-md-12">
        <h3 class="text-center">Bit payment in progress</h3>
    </div>
    <div class="col-md-2">
        <div id="bitcom-button-container"></div>
    </div>
    <div class="col-md-2">
        <a href="@Model.ApplicationSchemeIos" target="_blank">Pay with ios</a>
    </div>
    <div class="col-md-2">
       <a href="@Model.ApplicationSchemeAndroid" target="_blank">Pay with Android</a>
    </div>
</div>

@section Scripts{
<script nws-csp-add-nonce="true">
$(document).ready(function () {
    let transaction = {
        transactionSerialId: '@(Model.TransactionSerialId)',
        paymentInitiationId: '@(Model.PaymentInitiationId)'
    };
    //BitPayment.pay(transaction);
    BitPayment.Buttons({
        onCreate: function(openBitPaymentPage){
            openBitPaymentPage(transaction);
        },
        onApproved: function(details){
            $("#form").submit();
            //return fetch('/bitcom-transaction-complete', {
            //     method: 'post',
            //     headers: {'content-type': 'application/json'},
            //     body: JSON.stringify({orderID: details.paymentInitiationId })
            //}).then(function(res){
            // // Show approval page

            //});
        } 
    }).render('#bitcom-button-container');
});
</script>
}