@{
    ViewData["Title"] = "Bit Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <h3 class="text-center">Bit payment completed</h3>
    </div>
</div>

@section Scripts{
<script nws-csp-add-nonce="true">

</script>
}