@using Shared.Helpers
@{
    ViewData["Title"] = "EasyCard";
}
@model ChargeViewModel
@inject CommonLocalizationService localizer

<form asp-action="CancelPayment" method="post" hidden id="cancel-form">
    <input type="hidden" asp-for="RedirectUrl" id="RedirectUrlHidden" />
    <input type="hidden" asp-for="PaymentRequest" id="PaymentRequestHidden" />
    <input type="hidden" asp-for="PaymentIntent" id="PaymentIntent" />
    <input type="hidden" asp-for="ApiKey" id="ApiKeyHidden" />
    <input type="hidden" asp-for="Currency" id="CurrencyHidden" />
    <input type="hidden" asp-for="Description" id="DescriptionHidden" />
</form>


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="panel panel-default">
            <partial name="_ValidationSummary" />

            <div class="panel-heading">
                <p class="px-3 font-italic">@Model.Description</p>
            </div>


            <div class="panel-body">
                @if (Model.AllowBit == true)
                {
                    <div id="payment-type-area" class="row justify-content-center text-center">
                        <div class="col-md-12">
                            <h3>@localizer.Get("ChoosePaymentMethod")</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-toggle payment-type-select" data-toggle="buttons">
                                <label class="btn btn-outline-primary">
                                    <input type="radio" name="formPaymentType" id="formPaymentType_regular" autocomplete="off" value="regular"> @localizer.Get("CreditCardPayment")
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="formPaymentType" id="formPaymentType_bit" autocomplete="off" value="bit">
                                    <img id="bitlogo" height="20px" src="~/img/bit-logo-gray.svg" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-area" id="regular" hidden>
                        <partial name="RegularForm" />
                    </div>
                    <div class="form-area" id="bit" hidden>
                        <partial name="BitForm" />
                    </div>
                }else
                {
                    <div class="form-area" id="regular">
                        <partial name="RegularForm" />
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@section Scripts {

@await Html.PartialAsync("_ValidationScriptsPartial")
<script nws-csp-add-nonce="true">
    (function() {
        $(document).ready(function () {
            $("input[name=formPaymentType]").on("change", function(e){
                let selectedMethod = $("input[name=formPaymentType]:checked").val();

                $("#bitlogo").attr("src", selectedMethod == "bit" ? "/img/bit-logo-white.svg" : "/img/bit-logo-gray.svg");
                $(`.form-area`).attr('hidden', true);
                $(`#${selectedMethod}`).attr('hidden', false);
            });
        })
    })()
</script>
}
