@using ThreeDS.Models
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Init3DS";
}
@model ChargeViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<h1>Init3DS</h1>

<input type="hidden" asp-for="VersioningResponse.threeDSMethodData" id="threeDSMethodDataHidden" />
<input type="hidden" asp-for="VersioningResponse.threeDSMethodURL" id="threeDSMethodURLHidden" />
<input type="hidden" name="ChargeModel" id="ChargeModel" value="@JsonConvert.SerializeObject(Model)" />
<input type="hidden" asp-for="PassedInit3DMethod" id="PassedInit3DMethodHidden" />

@section Scripts {

    <script>
      //  $(function () {
        //@Model.PassedInit3DMethod=true;

        $(document).ready(function () {
               if ($("#threeDSMethodURLHidden") != undefined && $("#threeDSMethodURLHidden").val() != undefined) {
                   var jsonChargeModel = $("#ChargeModel").val();
                   var model = JSON.parse(model);
                   model.PassedInit3DMethod = true;
                     var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        $.ajax({
            type: "POST",
            url: "/Home/Charge",
              data: {
                __RequestVerificationToken: token,
                request: model
            },
            success: function () { window.location.reload(); }
        });
    }
            }
               // })
    </script>
}
