@model CheckoutPortal.Models.PaymentErrorViewModel

@{
    ViewData["Title"] = "PaymentError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payment Error</h1>

<div>
    <h4>Error details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>
    </dl>
</div>

