
@{
    ViewData["Title"] = "PaymentResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Payment successful</h1>

    <center>
        <img src="~/img/progress-close.png" />
    </center>

