
@{
    ViewData["Title"] = "PaymentImpossible";
}

<div class="text-center">
    <h2 class="pb-4">Welcome to the checkout portal</h2>
    <p>To make a payment please use link provided by merchant.</p>
</div>

