@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h2 class="pb-4">@localizer.Get("WelcomeTextTop")</h2>
    <p>@localizer.Get("WelcomeTextBottom")</p>
</div>

