
@{
    ViewData["Title"] = "PaymentResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="text-center">Payment successful</h1>

    <center>
        <img src="~/img/check-circle-outline.png" />
    </center>

