@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = "PaymentResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@localizer.Get("PaymentCanceled")</h1>

