@model BasketViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">


    <div class="col-md-6">
        <div class="panel panel-default">


            

            <div class="panel-heading">
                <h3 class="panel-title">Test Basket</h3>
            </div>

            <div class="panel-body">

                <form asp-action="PayWithEasyCard" method="post">
                  

                    <fieldset>
                        <div class="form-group">
                            <label asp-for="ProductName">Product Name</label>
                            <input class="form-control" asp-for="ProductName">
                            <span asp-validation-for="ProductName"></span>
                            <span class="control-validation"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price">Price</label>
                            <input class="form-control" asp-for="Price">
                            <span asp-validation-for="Price"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Quantity">Quantity</label>
                            <input class="form-control" asp-for="Quantity">
                            <span asp-validation-for="Quantity"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Name">Consumer Name</label>
                            <input class="form-control" asp-for="Name">
                            <span asp-validation-for="Name"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NationalID">NationalID</label>
                            <input class="form-control" asp-for="NationalID">
                            <span asp-validation-for="NationalID"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input class="form-control" asp-for="Email">
                            <span asp-validation-for="Email"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Phone">Phone</label>
                            <input class="form-control" asp-for="Phone">
                            <span asp-validation-for="Phone"></span>
                            <span class="control-validation"></span>
                        </div>

                        <hr />

                        <div class="form-group">
                            <label asp-for="CheckoutBaseUrl">Checkout Base Url</label>
                            <input class="form-control" asp-for="CheckoutBaseUrl">
                            <span asp-validation-for="CheckoutBaseUrl"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ApiKey">ApiKey</label>
                            <input class="form-control" asp-for="ApiKey">
                            <span asp-validation-for="ApiKey"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="InternalOrderID">InternalOrderID</label>
                            <input class="form-control" asp-for="InternalOrderID">
                            <span asp-validation-for="InternalOrderID"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConsumerID">ConsumerID</label>
                            <input class="form-control" asp-for="ConsumerID">
                            <span asp-validation-for="ConsumerID"></span>
                            <span class="control-validation"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="IssueInvoice">IssueInvoice</label>
                            <input type="checkbox" class="form-control" asp-for="IssueInvoice">
                            <span asp-validation-for="IssueInvoice"></span>
                            <span class="control-validation"></span>
                        </div>


                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" name="submit" value="Pay with EasyCard" />

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>
