<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RapidBaseUrl" value="https://roqa2.rapid-image.net" />
    <add key="RapidAPIKey" value="vX9mJiLNNcj1QwKXsQ/9KDKu1Gxb3pQDKpJDvYRtk28UtwA7O/+LS3b6dcYc6L0SNkS7Ld+9WjP3tHscrxWc9Q==" />

    <add key="MerchantName" value="Test" />
    <add key="RapidClient" value="False" />
  </appSettings>
</configuration>