@using Shared.Helpers
@{
    ViewData["Title"] = "Register";
}
@model RegisterViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <partial name="_ValidationSummary" />

            <div class="panel-heading">
                <h3 class="panel-title">Join EasyCard</h3>
            </div>

            <div class="panel-body">

                <form asp-action="Register" method="post">

                    <fieldset>
                        <div class="row">
                            <div class="col-md-6 col-xs-12 form-group">
                                <label asp-for="BusinessName">Business name</label>
                                <input id="business-name" type="text" class="form-control" asp-for="BusinessName" autocomplete="off">
                                <span asp-validation-for="BusinessName"></span>
                            </div>

                            <div class="col-md-6 col-xs-12 form-group">
                                <label asp-for="ContactName">Contact name</label>
                                <input id="contact-name" type="text" class="form-control" asp-for="ContactName" autocomplete="off">
                                <span asp-validation-for="ContactName"></span>
                            </div>

                            <div class="col-md-6 col-xs-12 form-group">
                                <label asp-for="MarketingName">Marketing name</label>
                                <input id="marketing-name" type="text" class="form-control" asp-for="MarketingName" autocomplete="off">
                                <span asp-validation-for="MarketingName"></span>
                            </div>

                            <div class="col-md-6 col-xs-12 form-group">
                                <label asp-for="BusinessID">Business ID</label>
                                <input class="form-control" placeholder="Card Owner Name" asp-for="BusinessID" autocomplete="off">
                                <span asp-validation-for="BusinessID"></span>
                            </div>

                            <div class="col-md-6 col-xs-12 form-group">
                                <label asp-for="PhoneNumber">Phone</label>
                                <input type="tel" class="form-control" placeholder="Phone" asp-for="PhoneNumber" autocomplete="off">
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>

                            <div class="col-md-6 col-xs-12 form-group">
                                <label asp-for="Email">Email</label>
                                <input type="email" class="form-control" placeholder="Email" asp-for="Email" autocomplete="email">
                                <span asp-validation-for="Email"></span>
                            </div>

                            <div class="col-md-6 col-xs-12 form-group">
                                <label asp-for="Password">Password</label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                <span asp-validation-for="Password"></span>
                            </div>

                            <div class="col-md-6 col-xs-12 form-group">
                                <label asp-for="PasswordRepeat">Password repeat</label>
                                <input type="password" class="form-control" placeholder="PasswordRepeat" asp-for="PasswordRepeat" autocomplete="off">
                                <span asp-validation-for="PasswordRepeat"></span>
                            </div>

                            <div class="col-md-12 col-xs-12 form-group text-end">
                                <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>





@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
