@model CultureSwitcherModel


<div>
    <form id="culture-switcher">
        <select name="culture" id="culture-options" class="form-control">
            @foreach (var culture in Model.SupportedCultures)
            {
            <option value="@culture.Name" selected="@(Model.CurrentUICulture.Name == culture.Name)">@culture.DisplayName</option>
            }
        </select>
    </form>
</div>


<script nws-csp-add-nonce="true">
    document.getElementById("culture-options").addEventListener("change", () => {
        if (window.location.search != "") {
            let url = window.location.toString().replace(/\&culture=[a-z]*/, "");
            window.location = url + "&culture=" + document.getElementById("culture-options").value;
        } else {
            window.location.search = "?culture=" + document.getElementById("culture-options").value;
        }
    });
</script>